{
    "presets": [ 
        [ "env", { 
            "modules": false,
            "targets": {
                "browsers": ["last 2 versions", "ie 11"]
            }
        } ], 
        "flow" 
    ],
    "plugins": [ 
        [ "transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": true
	    } ] 
    ]
}
